 body{
            background: linear-gradient(45deg,#23da0b,#656471,#e6f57a,#ed7fb0);
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: content-box;
                 }
                #chh
                {
                    background-image: url('./image/ai.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                #ho1
                {
                    color:white;
                    background-color: black;
                    /* display: inline; */
                    text-align: center;
                    padding:1cm;
                    justify-content: center;
                    border: 2px solid pink;
                    border-radius: 30px;
                    margin-top: 20px;
                    background-position: inline;
                }
                #h2
                {
                    gap: 10cm;
                    color:white;
                    margin-bottom: -200px;
                    margin-left: 200px;
                    font-size: 50px;
                    
                }
                #h2:hover
                {
                    cursor: pointer;
                    color: maroon;
                   
                }
                #ho1
                {
                    color:white;
                    justify-content: center;
                    font-size: larger;
                    gap: 2.34cm;
                    text-decoration: none;
                    display: inline-flex;
                    text-align: center;
                }
                #ho1:hover{
                    cursor: pointer;
                    background-color: cyan;
                    color:black;
                }
                #hf1
                {
                    color:white;
                    text-align: center;
                    justify-content: center;
                    text-decoration: none;
                }
                #hf1:hover
                {
                    cursor: pointer;
                    color: black;
                }

                #n1
                {
                    padding: 20px;
                    width:1200px;
                    /* margin-left: 100px; */
                }
                #n11
                {
                    padding: 20px;
                    width:1200px;
                    /* margin-left: 100px; */
                }
                #n12
                {
                    padding: 20px;
                    width:1200px;
                    /* margin-left: 100px; */
                }
                #n2
                {
                    padding: 2cm;
                    width: 1200px;
                    /* margin-left: 100px; */
                }
                #div2
                {
                    text-align: center;
                    justify-content: center;
                    background-size: cover;
                   

                }
                #div2 h1{
                    border: 2px solid pink;
                    background-color:aquamarine;
                
                }
                #div2 h1:hover{
                    cursor: pointer;
                    background-color: blue;
                    color: bisque;
                }
                #div2:hover{
                    background-color: beige;
                    cursor: pointer;
                    border: 2px solid orangered;
                    margin-left: 120px;
                    margin-right: 120px;
                }
                #n3
                {
                    color:white;
                    padding: 10px;
                    font-size: larger;
                    background-color: blue;
                    text-align: left;
                }
                #n3:hover{
                    cursor: pointer;
                    background-color: red;
                }
                #ho3
                {
                    text-align: center;
                    font-size: large;
                    margin-left: 100px;
                    margin-right: 100px;
                    background-size: cover;
                }
                #ho3 h1{
                    background-color: aqua;
                    border: 2px solid palevioletred;
                }
                #ho3:hover {
                    cursor: pointer;
                    background-color: #081b31;
                    color: chartreuse;
                    border: 7px solid black;
                    }
                #ho4
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;

                }
                #ho4:hover{
                    cursor: pointer;
                    background-color: antiquewhite;
                    border: 3px solid pink;
                }
                #ho4 h1{
                    cursor: pointer;
                    background-color: aliceblue;
                    border: 2px solid palevioletred;
                }
                #ho4 img:hover
                {
                    cursor: pointer;
                    background-color: yellow;
                    border: 4px solid black;
                    font-size: large;
                }
                #ho4 h1:hover
                {
                    cursor: pointer;
                    background-color: #23da0b;
                    color:#081b31;
                }
                #ho5
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;
                    display: inline-flex;
                }
                #hnl1
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;
                    display: inline-flex;
                }
                #ho7
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;
                    display: inline-flex;
                }
                #hnl2
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;
                    display: inline-flex;
                }
                #m1
                {
                    width:250px;
                    height: 200px;
                    text-align: left;
                    
                }
                #m2
                {
                    width:250px;
                    height: 200px;
                    text-align: right;
                }
                #m4
                {
                    width:250px;
                    height: 200px;
                    text-align: left;
                }
                #m5
                {
                    width:250px;
                    height: 200px;
                    text-align: right;
                }
                #nk1
                {
                    padding: 5cm;
                    background-color: black;
                    color: white;
                    text-align: start;
                    background-size: cover;
                }
                #hk
                {
                    text-align: center;
                    margin-left: 100px;
                    margin-right: 100px;
                    justify-content: center;
                    gap:200px;

                }
                #hk:hover{
                    cursor: pointer;
                    border: 3px solid pink;
                    background-color: antiquewhite;
                }
                #hk h1{
                    background-color: aqua;
                    border: 2px solid palevioletred;
                }
                #hk h1:hover{
                    cursor: pointer;
                    background-color:burlywood;
                }
                #hk img:hover{
                    cursor: pointer;
                    background-color: yellow;
                    border: 4px solid black;
                    font-size: large;
                }
                #gg2
                {
                    text-align:start;
                    margin-left: 110px;
                }
                #gg1
                {
                    text-align:left;
                   margin-left: 1000px;
                   margin-top: -40px;
                }
                #gg3
                {
                    text-align:right;
                    margin-right: 240px;
                   margin-top: -40px;
                }
                #gg4
                {
                    text-align:start;
                   margin-left: 240px;
                }
                #mmms
                {
                    max-width: 100px;
                    max-height:100px;
                    text-align:right;
                    border: 2px solid green;
                    border-radius: 50%;
                    margin-left: 900px;
                    margin-top: -100px;
                }
                #nk2
                {
                    text-align: right;

                }
                #ch
                {
                    max-width: 200px;
                    max-height: 450px;
                    border-radius: 15%;
                    color:green;
                }
                #cnn
                {
                    text-align: right;
                    margin: auto;
                    justify-content: center;
                    margin-top: -40px;
                    margin-right: 200px;
                    color: orangered;
                }
                #cc
                {
                    margin-top: 00px;
               
                }
                #role
                {
               
                font-size: 50px;
                color:blue;
                }
                #role:hover{
                    cursor: pointer;
                    color: aqua;
                }
                #mas
                {
                    text-align: justify;
                    color: green;
                    background-color: aquamarine;
                    padding:20px;
                    font-size: 20px;
                    border: 3px solid blue;
                    border-radius: 80%;
                }
                #mas:hover{
                    cursor: pointer;
                    background-color: orange;
                    color:black;
                }
                #mnb
                {
                    max-width: 100px;
                    max-height: 100px;
                    text-align: end;
                   
                }
                #mnb img{
                    max-width: 50px;
                    max-height: 50px;
                    text-align:end;
                    margin-left: auto;
                }
                #hssc
                {
                    display: inline-flex;
                    gap: 16cm;
                }
                #hsc h1{
                    text-align: center;
                }
                #hsc img{
                    max-width: 205px;
                    max-height:200px;
                    text-align: center;
                    gap: 200px;
                    margin-left: 200px;
                    }
                #hsc
                    {
                        text-align: center;
                        justify-content: center;
                        margin-left: 150px;
                        margin-right: 150px;
                        text-decoration: none;
                    }
                #hsc:hover{
                    cursor: pointer;
                    color: #081b31;
                    background-color: cadetblue;
                    border: 5px solid green;
                }
                #hsc p
                {
                    font-size: 50px;
                }
                #hsc p:hover
                {
                    cursor: pointer;
                    color: red;
                    background-color: #e6f57a;
                }
                #cnnk 
                {
                    color: #081b31;
                    font-size: 50px;
                }
                #cnnk:hover
                {
                    cursor: pointer;
                    color: orangered;
                }
                #cnnks 
                {
                    color: #081b31;
                    font-size: 50px;
                }
                #cnnks:hover
                {
                    cursor: pointer;
                    color: orangered;
                }
                #rk1
                {
                    text-align: start;
                    
                }
                #rk2
                {
                    text-align: end;
                    
                    
                }
                #rk3
                {
                    margin-left: 0px;
                }
                #rk4
                {
                    margin-right: 200px;
                }
                #cnk
                {
                    text-align: center;
                    justify-content: center;
                    color:#081b31;
                    background-color: aqua;
                    border: 3px solid black;
                }
                #cnk:hover{
                    cursor: pointer;
                    color: black;
                    background-color: #23da0b;
                }
                #hsv
                {
                    display: inline-flex;
                    color: black;
                    text-align: center;
                    gap: 200px;

                }
                #biit
                {
                    text-align: center;
                    justify-content: center;
                    color: #081b31;
                    margin-left: 150px;
                    margin-right: 150px;
                }
                #biit h1{
                    text-align: center;
                    justify-content: center;
                    color: beige;;
                    background-color:#081b31;
                    border: 2px solid yellow;
                }
                #biit:hover
                {
                    cursor: pointer;
                    background-color:cadetblue;
                    color: darkblue;
                    border: 4px solid darkcyan;
                }
                #biit h1:hover{
                    cursor:pointer;
                    color: #e6f57a;
                    background-color: #ed7fb0;
                }
                #bit
                {
                    color: aliceblue;
                    background-color: blue;
                    font-size: 40px;
                }
                #bit:hover{
                    cursor:pointer;
                    color: black;
                    background-color: red;
                }
                #bms
                {
                   font-size: 100px;
                    text-align: center;
                     
                }
                #bms:hover{
                    cursor: pointer;
                    color: red;
                }
                #dds
                {
                    text-align: center;
                }
                #cv
                {
                    text-decoration: none;
                    color: blue;
                    font-size: 30px;
                }
                #cv:hover{
                    cursor: pointer;
                    color: red;
                    background-color: #e6f57a;
                    display: inline;
                }
                #certificate
                {
                    text-align: center;
                    justify-content: center;
                    margin-left: 150px;
                    margin-right: 150px;
                    text-decoration: none;
                }
                #certificate:hover{
                    cursor: pointer;
                    color:#081b31;
                    background-color: aqua;
                    border: 5px solid green;
                }
                #certificate img:hover{
                    cursor: pointer;
                    background-color: #23da0b;
                    color: #081b31;
                    border:  5px solid black;

                }
                #certificate img{
                    
                    background-color: #23da0b;
                    color: #081b31;
                    border:  5px solid black;

                }
                #rk5
                {
                    text-align: start;
                    font-size: 70px;
                }
                #rk5:hover{
                    cursor: pointer;
                    color: red;
                    background-color: aliceblue;
                }
                #rk6
                {
                    text-align: end;
                    font-size: 70px;
                }
                #rk6:hover{
                    cursor: pointer;
                    color: red;
                    background-color: aliceblue;
                }
                #rk7
                {
                    text-align: end;
                    font-size: 70px;
                }
                #rk7:hover{
                    cursor: pointer;
                    color: red;
                    background-color: aliceblue;
                }
                #rk8
                {
                    text-align: end;
                    font-size: 70px;
                }
                #rk8:hover{
                    cursor: pointer;
                    color: red;
                    background-color: aliceblue;
                }
                #ld
                {
                    display: inline-flex;
                    gap:400px;
                }
                #lk
                {
                    display: inline-flex;
                    gap:400px;
                }
                #hns
                {
                    text-align: center;
                    justify-content: center;
                    font-size: 30px;
                    color:black;
                    background-color:#e6f57a;
                    border: 3px solid orangered;
                }
                #hns:hover{
                    cursor: pointer;
                    color: blue;
                    background-color: #081b31;
                }
                #vcv img:hover{
                    cursor: pointer;
                    background-color: #23da0b;
                    color: #081b31;
                    border: 10px solid red;
                }
                #nbv:hover{
                    cursor: pointer;
                    background-color: aliceblue;
                    color: darkblue;
                    border: 10px solid darkblue;

                }
                #dds:hover{
                    cursor: pointer;
                    background-color: aliceblue;
                    color: darkblue;
                    border: 10px solid darkblue;
                }
                #knccs:hover {
                    cursor: pointer;
                    background-color: aliceblue;
                    color: darkblue;
                    border: 10px solid darkcyan;
                }
